//styles for mobile
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  list-style: none;
  text-decoration:none;
  font-family: $font;
  font-weight:100;
}

img{
  width:100%;
}

h1{
  text-align: center;
  font-weight:bold;
  font-size:28px;
  text-transform:uppercase;
  margin:$margin;
}

h2{
  text-align: center;
  font-size:24px;
  font-weight:bolder;
  margin:2*$margin;
  margin:0 auto;
}

.content__about--footer{
  width:90%;
  display:block;
  margin:0 auto;
}
.content__about--footer-para{
  margin-top:40px;
  margin-bottom:40px;
  text-align:center;
}
.header__topnav--horizontal-menu {
  display: none;
}
.header__logo{
  width:100px;
}

.content__about--right-align{
  padding-right:5px;
  margin-right:20px;
  .content__about--section {
    text-align:right;
    padding-left:60px;
  }
}

.content__about--highlight-right{
  border-right:1px solid $tertiaryColor;
  padding-right:5px;
  margin-right:20px;
  .content__about--section {
    text-align:right;
    padding-left:60px;
  }
}
.content__about--highlight-left{
  border-left:1px solid $tertiaryColor;
  padding-left:5px;
  margin-left:20px;
  .content__about--section{
    text-align:left;
    padding-right:60px;
  }
}
.content__about--line{
  width: 100px;
  height: 0;
  border: 1px solid $tertiaryColor;
  margin: 3px;
  display:block;
  margin:0 auto;
  margin-top:20px;
}

.content__contact{
  padding:30px;
}

.content__contact--contact-info{
  margin-bottom:20px;
}
.content__contact--social-media{
  margin-bottom: 20px;
}

.content__contact--hours{
  margin-bottom: 20px;
  td {
    font-weight:bold;
  }
}
.content__about--columns{
 img{
   width:50%;
   float:left;
 }
}
.content__about--columns img{
  margin-top:110px;
}
.content__booking{
  width:80%;
  margin:0 auto;
  display:block;
  font-size:17px;
}

.content__about--heading-left{
  text-align: left;
  margin:20px;
}

.content__about--heading-right{
  text-align: right;
  margin:20px;
}

.content__about--custom-tattoos{
  width:80%;
  margin-left:20px;
  text-align: left;
}

.content__booking--heading2{
  font-weight:bolder;
}
.content__booking--heading3{
  color:$tertiaryColor;
}
.content__booking--form-label{
  color:$tertiaryColor;
}

.content__booking--heading2,
.content__booking--para{
  margin-bottom:20px;
}
input, textarea{
  background-color: rgb(43,43,43);
  border:none;
  border-radius:6px;
}
.content__booking--form-input{
  height:35px;
  width:100%;
}
.content__booking--form-message{
  width:100%;
  background: rgb(43,43,43);
}

.content__booking--form-checkbox,
.content__booking--form-input,
.content__booking--form-message{
  margin-top:5px;
  margin-bottom:5px;
}
.content__booking--form-checkbox{
  color: $tertiaryColor;
}

.content__desktop{
  display:none;
}
//end of styles for mobile

