.fas{
  font-size:40px;
  color:$tertiaryColor;
  position: absolute;
  &.fa-times{
    top:20px;
    right:20px;
  }
  &.fa-bars{
    top:20px;
    right:20px;
  }
}

.fab{
  color:$tertiaryColor;
  font-size:24px;
  vertical-align: middle;
  padding-right:10px;
  padding-bottom:5px;
  padding-top:5px;
}
.header__topnav{
  padding:20px;
}

