
.header__logo{
  width:241px;
}

/*images on artists page*/
.content__artists--container{
  position: relative;
  margin-bottom: 20px;
  height:275px;
  width:100%;
}

/*image on the right side*/
.content__artists--image-right{
  width:80%;
  float:right;
}

.content__artists--name-right{
  position:absolute;
  right:20px;
  color:black;
  text-align:right;
}
/*images on athe left side*/
.content__artists--image-left{
  width:80%;
  float:left;
  margin-left:25px;
}
.content__artists--name-left{
  position:absolute;
  left:20px;
  color:black;
  text-align:left;
}

.clearFix{
  clear:both;
  content:"";
  display:block;
}



