//styles for desktop
@media only screen and (min-width:600px){
  .container{
    margin-top:20px;
    width:85%;
    margin:0 auto;
  }

  .header {
    .fas{
        display:none;
    }
}
.header__topnav--horizontal-menu{
    display:inline-block;
    vertical-align: middle; 
    li {
      display:inline-block;
      margin:2*$margin;
      a{
        color:white;
        text-transform: uppercase;
        font-size:26px;
        font-weight:bolder;
      }
    }
  }

  .header__logo{
      width:240px;
  }
  @for $i from 1 through 12{
    .col-#{$i}{
      width:100%/12*$i;
      float:left;
    }
  }

  .content__about--highlight-right{
    display:flex;
    flex-direction: row-reverse;
    img{
      width:50%;
    }
  }
  .content__about--section{
    text-align: left;
    margin-right: 15px;
    vertical-align: top;
  }
  .content__about--heading-left,
  .content__about--heading-right{
    display:none;
  }
  .content__desktop{
    display:block;
    font-size: 24px;
  }

  .clearFix__mobileonly {
      clear: none;
  }


  .content__about--columns{
    img {margin:0;
    }
  }

  //artists page
  .content{
    width:100%;
  }
  .content__artists{
    margin-bottom:300px;
  }
  .content__artists--image-right,
  .content__artists--image-left
  {
    width:50%;
  }
  .content__artists--name-right{
    right:60px;
    font-size:38px;
  }
  .content__artists--name-left{
    left:60px;
    top:130px;
    font-size:38px;
  }
  .content__artists--button{
    font-size:26px;
    width:200px;
    height:60px;
    bottom:0;
  }
  .content__artists--para{
    padding-top:120px;
    padding-left:18%;
  }
//booking page

.content__booking-flex{
  display:flex;
  width:80%;
  align-items: center;
  margin:0 auto;
}

.content__booking--image{
  display:inline-flex;
  flex:50%;
  width: auto;
  padding:60px 60px 60px 0px;
}
.content__booking--form{
  width:initial;
  flex:50%;
}

}//end of media 

.clearFix{
    clear: both;
    content:"";
    display: block;
}

 //query for artists page. trying flexbox
 @media only screen and (max-width:600px){
  .content__flex-container {
    flex-direction: column-reverse;
  }
  .content__flex-container-no-reverse {
    flex-direction: column;
  }
  .content__artist-story {
    display: none;
  }
}

/*






.container{
    margin-top:20px;
  }

.content{
    width:100%;
}

h1{
    text-align: center;
    font-weight:bold;
    font-size:48px;
    text-transform:uppercase;
    margin:2*$margin;
  }
  .content__about{
    display:flex;
    flex-direction: row;
    border-right:2px solid $tertiaryColor;
  }
  .content__about--section{
    max-width: 700px;
    text-align: left;
    margin-right: 15px;
    vertical-align: top;
    img{
      width:100%;
    }
  }
  
  .content__about--section2{
    max-width: 700px;
    text-align: left;
    margin-right: 15px;
    vertical-align: top;
  }

  */